<Section>
    <div>
        <h2>Teacher Loan Forgivenes</h2>
    </div>
    <div>If you teach full-time for five complete and consecutive academic years in a low-income elementary school, secondary school, or educational service agency, you may be eligible for forgiveness of up to $17,500 on your Direct Loan program loans.</div>
    <div>
        <h2>Public Service Loan Forgiveness (PSLF)</h2>
    </div>
    <div>If you teach full-time for five complete and consecutive academic years in a low-income elementary school, secondary school, or educational service agency, you may be eligible for forgiveness of up to $17,500 on your Direct Loan program loans. See StudentAid.gov/teach-forgive for more information and a form you can fill out when you have completed your teaching service.

        Learn more about the Teacher Loan Forgiveness program, eligibility requirements, and how to apply. (If you aren't already logged in, you'll be asked to do so.)
        
        Note: You may not receive a benefit for the same qualifying payments or period of service for Teacher Loan Forgiveness and Public Service Loan Forgiveness.</div>
    <div>
        <h2>Public Service Loan Forgiveness (PSLF)</h2>
    </div>
    <div>If you are employed by a government or not-for-profit organization, you may be able to receive loan forgiveness under the Public Service Loan Forgiveness Program.

        The Public Service Loan Forgiveness (PSLF) Program forgives the remaining balance on your Direct Loans after you have made 120 qualifying monthly payments under a qualifying repayment plan while working full-time for a qualifying employer.
        
        </div>
    <div>
        <h2>You've Got Options If You Were Denied PSLF</h2>
    </div>
    <div>HIf your application for Public Service Loan Forgiveness (PSLF) was denied, you may be able to receive loan forgiveness under the Temporary Expanded Public Service Loan Forgiveness (TEPSLF) opportunity.

        As part of this opportunity, the Department of Education reconsiders your eligibility using an expanded list of qualifying repayment plans.
        
        This TEPSLF opportunity is temporary, has limited funding, and will be provided on a first come, first served basis. Once all of the funds are used, the TEPSLF opportunity will end.
        
        Visit StudentAid.gov for detailed information on how to be reconsidered for loan forgiveness.</div>
</Section>
